<?xml version="1.0"?>
<launch>
    <arg name="output_dir" default="/tmp/nico_njf_dataset"/>
    <arg name="image_topic" default="/nico/vision/left"/>
    <arg name="sample_rate_hz" default="2.0"/>

    <node name="njf_data_recorder" pkg="elmira" type="njf_data_recorder.py" output="screen">
        <param name="output_dir" value="$(arg output_dir)"/>
        <param name="image_topic" value="$(arg image_topic)"/>
        <param name="sample_rate_hz" value="$(arg sample_rate_hz)"/>
    </node>
</launch>
